@import '@fortawesome/fontawesome-free/css/all.css';
*{
    margin: 0;
}
.contenedor-todo{
    display: flex;
    flex-direction: row;
    transition: margin-left 0.5s;
}
.contenedor-todo.menu-open {
    margin-left: 17%; /* Este valor debe coincidir con el ancho del menú */
}
